# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DB_HOST=''
DB_NAME=''
DB_USERNAME=''
DB_PASSWORD='!'
DB_DATABASE=""

# 
NEXT_PUBLIC_APP_DOMAINE=''

SHOPIFY_STORE_FRONT_ACCESS_TOKEN=''
SHOPIFY_STORE_URL=''
SHOPIFY_STORE_DOMAIN=''
SHOPIFY_API_KEY=''
SHOPIFY_API_SECRET=''
# openssl rand -base64 32
JWT_TOKEN_KEY=''
NEXT_PUBLIC_ALLOWED_ADMIN_EMAILS_STRING='maze6572198@gmail.com'
